In [1]:
import numpy as np
import pandas as pd
#import random
import datetime
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import seaborn as sns
#import jieba
#import jieba.analyse
#import gensim
#from sklearn.manifold import TSNE

%matplotlib notebook

plt.rcParams['font.sans-serif']=['SimHei'] # chinese

In [2]:
import apriori
import fpgrowth as fpg
from fastFM import als

In [18]:
def build_fp_tree(file):
    data = fpg.loadData(file)
    tree, header = fpg.createTree(data, minSup=2)
    return tree, header

In [3]:
def run_apriori(file, support=0.1, confidence=0.6):
    data_gen = apriori.dataFromFile(file)
    items, rules = apriori.runApriori(data_gen, support, confidence)
    #apriori.printResults(items, rules)
    return items, rules

In [16]:
run_apriori('../data/sample_simple.csv', 0.2, 0.8)

([(('mango',), 0.25),
  (('beer',), 0.75),
  (('apple',), 0.5),
  (('milk',), 0.5),
  (('chicken',), 0.25),
  (('rice',), 0.5),
  (('apple', 'beer'), 0.375),
  (('rice', 'apple'), 0.25),
  (('milk', 'rice'), 0.25),
  (('milk', 'beer'), 0.375),
  (('rice', 'beer'), 0.5),
  (('chicken', 'beer'), 0.25),
  (('rice', 'chicken'), 0.25),
  (('rice', 'apple', 'beer'), 0.25),
  (('milk', 'rice', 'beer'), 0.25),
  (('rice', 'chicken', 'beer'), 0.25)],
 [((('rice',), ('beer',)), 1.0),
  ((('chicken',), ('beer',)), 1.0),
  ((('chicken',), ('rice',)), 1.0),
  ((('rice', 'apple'), ('beer',)), 1.0),
  ((('milk', 'rice'), ('beer',)), 1.0),
  ((('chicken',), ('rice', 'beer')), 1.0),
  ((('rice', 'chicken'), ('beer',)), 1.0),
  ((('chicken', 'beer'), ('rice',)), 1.0)])

In [5]:
#run_apriori('../data/sample_integrated.csv', 0.2, 0.8)

In [15]:
tree, header = build_fp_tree('../data/sample_simple.csv')

In [17]:
tree.disp()

- Null Set : 1
-- beer : 6
--- rice : 2
---- apple : 2
----- chicken : 1
--- apple : 1
--- milk : 3
---- rice : 2
----- chicken : 1
-- apple : 1
--- mango : 1
-- milk : 1
--- mango : 1

In [26]:
df = pd.read_csv('../data/sample_simple.csv', header=None)
df

       0      1     2        3
0  apple   beer  rice  chicken
1  apple   beer  rice      NaN
2  apple   beer   NaN      NaN
3  apple  mango   NaN      NaN
4   milk   beer  rice  chicken
5   milk   beer  rice      NaN
6   milk   beer   NaN      NaN
7   milk  mango   NaN      NaN

In [79]:
a = set()
def func(row):
    for e in row.tolist():
        a.add(e)
    return row
df.apply(func, axis = 1)
a.remove(np.nan)
print(a)

{'beer', 'mango', 'milk', 'chicken', 'rice', 'apple'}

In [82]:
aa = list(a)
b = np.eye(len(aa))

In [84]:
bb = {}
for i in range(len(aa)):
    bb[aa[i]] = i

In [86]:
def get_vec(item):
    return b[bb[item]]

In [89]:
get_vec("beer") + get_vec("mango")

array([1., 1., 0., 0., 0., 0.])